.content {
    display: flex;
    background-color: #282c38;
    font-size: calc(5px + 2vmin);
    color: white;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin-top:50px;
    margin-bottom: 50px;
}

.content p {
    background-color: #61dafb;
    border-radius: 15px;
}

.content  img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #282c34;
}

