*:not(script):not(style) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas:
          "h h"
          "s c"
                      ;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}


.App-link {
  color: #61dafb;
}




